#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form-container {
  display: flex;
  text-align: left;
  gap: 32px;
  margin: 8px;
  width: 100%;

  form > div {
    margin: 16px 0px;
  }

  .input-phone-code {
    width: 15%;
    margin-right: 4px;
  }

  .input-half {
    width: 25%;
    margin: 0 2px 0 2px;
  }
  .input-full {
    width: 75%;
  }

  .button-full {
    display: flex;
    margin: 8px 0 0 0;

    button {
      flex: 1;
      padding: 8px
    }
  }

  input {
    height: 30px;
  }

  select {
    height: 30px;
    width: 75%;
  }
}
.card-container {
  text-align: left;
  p {
    font-size: 20px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin: 16px;
  width: 50%;
  text-align: left;
  border: thin solid #1a1a1a;
  gap: 8px;
  & .card-title {
    font-size: 32px;
  }

  & .card-field {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
  }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
